@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
:root{
 --main: #EEEEEE;
 --sub: #686D76;
 --dark: #373a40;
 --accent: #DC5F00;
}
*{
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
}
body{ background-color: var(--main); }
.navbg{ background-color: var(--dark); }
.text-accent{ color: var(--main); }
#scind{ font-weight: 400; }

#progress-container {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  background: rgb(221, 221, 221);
  border-radius: 8px;
  overflow: hidden;
  display: block;
}
#progress-bar {
  width: 0%;
  height: 20px;
  background: rgb(41, 128, 185);
  transition: width 0.3s;
}

/* IPTV player floating */
#player-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 9999;
}
#player-container .player-header {
  text-align: right;
  padding: 2px 6px;
  background: #222;
}
#player-container .player-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}